<div id="<%= dom_id infraction %>">
  <p>
    <strong>Member:</strong>
    <%= infraction.member_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= infraction.note %>
  </p>

  <p>
    <strong>Passed:</strong>
    <%= infraction.passed %>
  </p>

</div>
