<h1>Editing infraction</h1>

<%= render "form", infraction: @infraction %>

<br>

<div>
  <%= link_to "Show this infraction", @infraction %> |
  <%= link_to "Back to infractions", infractions_path %>
</div>
