
<div class="mt-4 d-flex justify-content-center">
    <!-- Button for Checks Processed Log -->
    <%= link_to 'Checks Processed Log', checks_path, class: "btn btn-lg btn-dark fw-bold mx-2" %>

    <!-- Button for Add an Employer -->
    <%= link_to 'Add an Employer', new_employer_path, class: "btn btn-lg btn-dark fw-bold mx-2" %>
</div>
