<br>
<p>Welcome to your Check Checker Dashboard</p>
<h2>You are currently logged in as <strong><%= current_user.email %></strong></h2> 
<hr>

<%= render "documents/upload_form" %>

<%= render "users/dash_buttons" %>

<%= render "employers/employers" %>
