
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main class="px-3">
    <h1>Check Checker!</h1>
    <p class="lead">Convert your checks from PDF format to excel format easily using AI and machine learning to give you best results. Set specific logic to trigger flags for certain cases caused by incorrect amounts. Read full line item results immediately. </p>
    <p class="lead">
      <a href="/users/dashboard" class="btn btn-lg btn-secondary fw-bold border-white bg-black">Get Started</a>
    </p>
  </main>


</div>
