
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center align-items-center">

  <main class="text-center px-3">
    <h1>Check Checker!</h1>
    <p class="lead">Convert your checks from PDF format to excel format easily using AI and machine learning to give you best results. Set specific logic to trigger flags for certain cases caused by incorrect amounts. Read full line item results immediately. </p>
    <div class="image-container">
      <img src="https://www.moneyhub.co.nz/uploads/1/1/2/1/112100199/what-is-the-ocr-glossary_orig.jpg" alt="Descriptive text" class="img-fluid">
    </div>
    <p class="lead">
      <a href="/users/dashboard" class="btn btn-lg btn-secondary fw-bold border-white bg-black">Get Started</a>
    </p>
  </main>


</div>
