<h1>Document Details</h1>
<% @document %>



<div class="text-center">
<p>Is this the file you are trying to process?</p>
<%= link_to "Yes, begin processing", "/documents/survey?s3_name=#{@s3_name}", class: "btn btn-dark" %>
<%= link_to "No, upload a different file", root_path, class: "btn btn-dark" %>
</div>
<br>



<div class="text-center">
<iframe src="<%= url_for(@document) %>" width="100%" height="500px"></iframe>
</div>
