<div id="<%= dom_id employer %>">
  <p>
    <strong>Name:</strong>
    <%= employer.name %>
  </p>

  <p>
    <strong>Dues rate:</strong>
    <%= employer.dues_rate %>
  </p>

  <p>
    <strong>User:</strong>
    <%= employer.user_id %>
  </p>

</div>
